asgiref==3.5.0
backports.zoneinfo==0.2.1
distlib==0.3.4
Django==4.0.3
django-cors-headers==3.11.0
djangorestframework==3.13.1
filelock==3.6.0
platformdirs==2.5.1
pytz==2022.1
sqlparse==0.4.2
virtualenv==20.13.4
